amqp==5.2.0
asgiref==3.8.1
billiard==4.2.1

click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0

et-xmlfile==1.1.0
humanize==4.11.0
kombu==5.4.2
xlrd>=2.0.1

prometheus_client==0.21.0
prompt_toolkit==3.0.48

