<!DOCTYPE html>
<html>
<head>
    <style>
        .email-body {
            font-family: 'Times New Roman', Times, serif;
            line-height: 1.6;
            
        }
        .highlight {
            color: #007BFF;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="email-body">
        <h1>Welcome {{ companyname }}!</h1>
        <p>Thank you for joining <span class="highlight">XXXXXXX</span> as project contractor.</p>
        <p>You have been added to XXXXXXXX by project <span class="highlight">{{projectname}}</span> as contractor of the project.</p>
        <p>We are excited to have you with us. Here's your company login credentials: </p>
        <p>Username:{{companyusername}} </p>
        <p>Password:{{password}} </p>
        <a href="LINK">Click here to Login</a>
        <p style="color: red;">* It is highly recommended to change your password as soon as you login. </p>
        <p style="color: red;">* Always keep your password safe and do not share it with anybody. </p>
        <p>Please feel free to contact us, if any issues. </p>
        <p>Best Regards,<br><strong>The XXXXX Team</strong>
            <br><strong>Email:</strong> EMAIL
            <br><strong>Web:</strong> WEBSITE
            <br><strong>Phone:</strong><span class="highlight">111111111</span></p>
    </div>
</body>
</html>
