<!DOCTYPE html>
<html>
<head>
    <style>
        .email-body {
            font-family: 'Times New Roman', Times, serif;
            line-height: 1.6;

        }
        .highlight {
            color: #007BFF;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="email-body">
        <h1>Welcome {{ consultantname }}!</h1>
        <p>Thank you for joining <span class="highlight">XXXXXX Solutions</span> as project consultant.</p>
        <p>You have been added to XXXXXX Billing Software by <span class="highlight">{{ contractor }}</span> as consultant of their project.</p>
        <p>We are excited to have you with us. Here's your login credentials: </p>
        <p>Username:{{consultantusername}} </p>
        <p>Password:{{password}} </p>
        <a href="https://XXXXX.XXXXX.co.in">Click here to Login</a>
        <p style="color: red;">* It is highly recommended to change your password as soon as you login. </p>
        <p>Please feel free to contact us to activate your project consultant account. </p>
        <p style="color: red;">* Always keep your password safe and do not share it with anybody. </p>
        <p>Best Regards,<br><strong>The XXXX XXXX Team</strong>
            <br><strong>Email:</strong> arghXXXya@XXXXXXX.co.in 
            <br><strong>Web:</strong> www.XXXXXX.co.in
            <br><strong>Phone:</strong><span class="highlight">+91-4456777</span></p>
    </div>
</body>
</html>
