{% extends 'project/base.html' %}
{% block navcontent %}

      
{% endblock %}
{% block maincontent %}
<center>
    <div class="card-trans border-primary mt-5 m-3 p-3 w-25" style="background-color: rgba(255, 255, 255, 0.253);min-width: 300px;">
        <div class="card-header bg-dark">
            <h2 class="m-3 text-primary">Change Password</h2> 
        </div>
        <div class="card-body bg-light border border-primary">
            <form action="{% url 'project:ChangePassword'  %}" method="post">
                {% csrf_token %}                
                <div class="m-2">
                    <label class="w-50">Username </label>
                    <input type="username" name="username">
                </div>  
                <div class="m-2">
                    <label class="w-50">Existing Password </label>
                    <input type="password" name="oldpassword">
                </div>    
                <div class="m-2">
                    <label class="w-50">New Password </label>
                    <input type="password" name="newpassword">
                </div>
                <div class="m-2">
                    <label class="w-50">Confirm New Password </label>
                    <input type="password" name="confirmpassword">
                </div>
                <input type="submit" class="btn btn-custom m-2" value="Set New Password">
                <a href="{% url 'project:Dashboard' %}" class="btn btn-custom m-2" >Cancel</a>
            </form>
        </div>
        {% if msg %}
        <div class="card-footer">
            <h2 class="text-danger">{{msg}}</h2>
        </div>
        {% endif %}
    </div>
</center>

       
{% endblock %}
