{% extends 'project/base.html' %}
{% load static %}
{% block navcontent %}
{% endblock %}
{% block maincontent %}
{% if registered %}
<div class="card border border-primary mt-5 mx-4 p-5" style="background-color: rgba(255, 255, 255, 0.253)">
    <h3 class="text-light fw-bolder" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);">PROJECT DASHBOARD</h3>
    <div class="row h-25 bg-light p-3">
        <div class="col-sm-4 h-100" >            
            <i class='fas fa-landmark' id="icon-avatar" ></i>          
            <h5 class="card-title my-4 fw-bolder">Project Details <a href="{% url 'project:EditProject' %}">Change</a></h5>
            <p class="card-text"><b>Company Name :</b>{{projectobj.company.company_name}}</p>                     
            <p class="card-text"><b>Project name :</b>{{projectobj.project_name}}</p> 
            <p class="card-text"><b>Address/location :</b>{{projectobj.location}}</p>                             
        </div>
        <div class="col-sm-4 h-100" >
             
            <i class='fas fa-handshake' id="icon-avatar" ></i>                  
            <h5 class="card-title my-4 fw-bolder">Roles</h5>
            <p class="card-text"><b>Client/Owner :</b>{{projectobj.owner.owner_name}}</p>
            <p class="card-text"><b>Consultant :</b>{{projectobj.consultant.consultant_name}}</p>
            <p class="card-text"><b>Contractor :</b>{{projectobj.company.company_name}}</p>                    
        
        </div>
        <div class="col-sm-4 h-100">
            
                    <i class='fas fa-headset' id="icon-avatar" ></i>
                  <h5 class="card-title my-4 fw-bolder">Contact Details</h5>
                  <p class="card-text"><b>Email id :</b>{{projectobj.company.company_email}}</p>
                  <p class="card-text"><b>Phone Number :</b>{{projectobj.company.country_code}}-{{projectobj.company.company_phone}}</p>
                  <p class="card-text"><b>Address :</b>{{projectobj.company.company_address}}</p>
                
        </div>        
    </div>
    {% if not workorder_uploaded %}
    <div class="row my-3 bg-light">
        <div class="col-md-6">
            <div class="card-trans border-primary mt-5 ms-2 p-3 " style="background-color: rgba(255, 255, 255, 0.253);min-width: 300px;">
                <div class="card-header bg-dark">
                    <h2 class="m-3 text-primary">Step 2: Upload Work Order BoQ</h2> 
                </div>
                <div class="card-body bg-light border border-primary">            
                    <small class="text-dark">*Upload your Workorder BoQ excel file to add items automatically.</small> 
                    <form class="p-0 text-primary " action="{% url 'project:UpLoadWOBOQ' %}" id="upload_wo_boq_form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}               
                           
                            <div class="my-3  p-3">
                                <h4 class="text-dark">Enter the proper headings in your excel file .</h4>
                                <div class="row">
                                    <div class="col">
                                        <label for="serialno" class="mt-3 text-dark">Enter heading of column having <b>Serial Number</b> </label>
                                        <input name="serialno" id="serialno" class="form-control" required>

                                    </div>
                                    <div class="col">
                                        <label for="description" class="mt-3 text-dark">Enter heading of column having <b>Item Description</b> </label>
                                        <input name="description" id="description" class="form-control" required> 
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="unit" class="mt-3 text-dark">Enter heading of column having <b>Unit</b> </label>
                                        <input name="unit" id="unit" class="form-control" required>

                                    </div>
                                    <div class="col">
                                        <label for="quantity" class="mt-3 text-dark">Enter heading of column having <b>Quantity</b> </label>
                                        <input name="quantity" id="quantity" class="form-control" required>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="rate" class="mt-3 text-dark">Enter heading of column having <b>Rate</b> </label>
                                        <input name="rate" id="rate" class="form-control" required>    

                                    </div>
                                    <div class="col">
                                        <label for="amount" class="mt-3 text-dark">Enter heading of column having <b>Amount</b> </label>
                                        <input name="amount" id="amount" class="form-control" required>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="wo_boq_xl" class="mt-3 text-dark">Select work order  BoQ excel file</label>
                                        <input class=" form-control" type="file" id="wo_boq_xl" name="wo_boq_xl" accept=".xls,.xlsx">                
                                

                                    </div>
                                    <div class="col">
                                        <label for="wo_no" class="mt-3 text-dark">Enter <b>Workorder Number</b> </label>
                                        <input name="wo_no" id="wo_no" class="form-control" required>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="wo_date" class="mt-3 text-dark">Select work order entry date</label>
                                
                                        <input type="date" id="wo_date" name="wo_date" class="form-control mb-3"  style="width: fit-content;" required>                
                                

                                    </div>
                                    <div class="col">
                                        <button class="btn form-btn-custom mt-3 p-3" type="submit"><i class="fa-solid fa-file-excel" style="color: blue;"></i> Save BoQ Details</button>
                                    </div>
                                </div>                  
                                
                            </div>                    
                    </form>
                </div>
            </div>
            <!-- <b class="ms-5">OR</b>
            <div class="form-box">
                <small class="text-dark">*Click to add items of BoQ one by one.</small> 
                <a href="{% url 'project:ManageBOQ' 1 %}" class="btn form-btn-custom ms-3 px-2" > Add items to BOQ </a>
            </div> -->
            
        </div>
        
    </div>
    {% else %}    
    <div class="row my-3 bg-light p-3"> 
        <div class="col">            
            <i class='fas fa-file-excel' id="icon-blue" ></i>
            <h5 class="fw-bold my-2">Bill Of Quantities Uploaded 
                <a href="{% url 'project:ManageBOQ' 1 %}" class="btn btn-custom mx-2"> Manage BoQ </a>
                <a href="{% url 'project:RemoveBOQ' %}" class="btn text-danger btn-custom mx-2"> Remove BoQ </a>
                {% if boq_approve_count > 0 %}
                    <a href="{% url 'project:ViewBoqApprovals' %}" title="All pending boq item modifications." type="button" class="btn btn-custom position-relative mx-3">
                        BoQ Modifications 
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{boq_approve_count}}
                            <span class="visually-hidden">BoQ Modifications</span>
                        </span>  
                    </a>                   
                {% endif %}
            </h5>
        </div>                 
    </div>
    <div class="row bg-light my-3">  
        <div class="col">      
            <div class="">       
                    
                <h5 class="fw-bold my-2">BILLS</h5>
                {% if billcount == 0 %}
                    <p class="text-primary  fw-bold">No Bills Found</p>
                    <a href="{% url 'project:CreateBill' %}" class="btn btn-custom py-1">Create New Bill</a>
                {% else %}
                    <ul>
                        {% for bill in bills %}
                            {% if bill.submitted %}
                                <li class="text-dark fw-bold my-3 p-3 shadow-lg"> {{bill.bill_number}} - {{bill.bill_name}} 
                                    <a href="{% url 'project:DownloadMBook' bill.id %}" class="btn btn-custom py-1 mx-2">Download MBook</a>
                                    <a href="{% url 'project:DownloadAbstract' bill.id %}" class="btn btn-custom py-1 mx-2" >Download Abstract</a>
                                    {% if bill.consultant_approved %}
                                        <span class="p-3 border border-info  ms-5">CONSULTANT APPROVED</span>
                                    {% elif bill.shared_to_consultant %}
                                        <span class="p-3 border border-info  ms-5">SHARED TO CONSULTANT</span>
                                    {% endif %}
                                    {% if bill.owner_approved %}
                                        <span class="p-3 border border-info  ms-5">OWNER APPROVED</span>
                                    {% elif bill.shared_to_owner %}
                                        <span class="p-3 border border-info  ms-5">SHARED TO OWNER</span>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li class="text-primary fw-bolder my-3 p-3 shadow-lg"> {{bill.bill_number}} - {{bill.bill_name}}
                                    <a href="{% url 'project:CurrentBill' 1 %}" class="btn btn-custom py-1 mx-2">Manage Current Bill</a>
                                    <a href="{% url 'project:DownloadMBook' bill.id %}" class="btn btn-custom py-1 mx-2">Download MBook</a>
                                    <a href="{% url 'project:ViewAbstract' bill.id 1 %}" class="btn btn-custom py-1 mx-2" >View Abstract</a>
                                    {% if bill.consultant_approved %}
                                        <span class="p-3 border border-info  ms-5">CONSULTANT APPROVED</span>
                                    {% elif bill.shared_to_consultant %}
                                        <span class="p-3 border border-info  ms-5">SHARED TO CONSULTANT</span>
                                    {% endif %}
                                    {% if bill.owner_approved %}
                                        <span class="p-3 border border-info  ms-5">OWNER APPROVED</span>
                                    {% elif bill.shared_to_owner %}
                                        <span class="p-3 border border-info  ms-5">SHARED TO OWNER</span>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if activebill == 0 %}
                        <li class="text-primary fw-bolder my-3 p-3 shadow-lg">
                            No Active bill Found
                            <a href="{% url 'project:CreateBill' %}" class="btn btn-custom py-1 mx-2">Create Next Bill</a>
                        </li>
                        {% endif %}
                    </ul>
                {% endif %}
                
            </div>
        </div>
    </div> 
    </div>
     
    {% endif %} 
</div>
{% else %}
<center>
    <div id="overlay">
    <div class="card-trans border-primary mt-5 m-3 p-3" style="width: 40%;background-color: rgba(255, 255, 255, 0.253);min-width: 300px;">
         
        <div class="card-header bg-dark">
            <h2 class="m-3 text-primary">Project Registration</h2> 
        </div>
        <div class="card-body bg-light border border-primary">        
        <form action="{% url 'project:ManageProject' %}" method="post" >
            {% csrf_token %}            
 
            <div class="my-3 p-2 shadow">
                <label for="owner" class="w-25">Project Owner/Client </label>
                <input type="hidden" id="ownerId" name="ownerId" />
                <input class="form-control" type="text" id="owner" name="owner" placeholder="Enter project owner name" autocomplete="off" />              
                
                <button type="button" class="btn-custom" onclick="AddNewOwnerForm()">Add project owner or client</button>
                
            </div>
            <div class="my-3 p-2 shadow">
                <label for="company">Project Contractor/Company </label>
                <input type="hidden" id="companyId" name="companyId"  />
                <input class="form-control" type="text" id="company" name="company" autocomplete="off" placeholder="Enter your company name"/>                
                <p class="mt-2">Not in the list, Click here to <button class="btn-custom" onclick="AddNewCompanyForm()">Add company</button></p>
            </div>
            
            <div class="my-3 p-2 shadow">
                <!-- <input type="text" id="consultant" name="consultant" class="form-control" placeholder="Enter consultant name" required> -->
                <label class="w-25" for="consultant">Project Consultant</label>
                <select class="form-control" name="consultant" id="consultant" class="form-control" required>
                    <option value="">Select consultant name</option>                             
                </select>
                <p class="mt-2" >Not in the list, Click here to <button class="btn-custom" onclick="AddNewConsultantForm()">Add consultant</button></p>
            </div>
            
            
            <div class="my-3">
                <label class="w-25" for="name">Project name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter project name" required> 
            </div>
            <div class="my-3">
                <label class="w-25" for="location">Project Address </label>
                <input type="text" name="location" placeholder="Enter address/location of project." class="form-control" required>
            </div>                     
            <div class="my-3">
                <label class="w-25" for="otherdetails">Remarks(if any) </label>
                <input type="text" name="otherdetails" placeholder="Enter remarks, if any" class="form-control">
            </div>   
            <input type="submit" class="btn form-btn-custom m-2" value="Save Project">
        </form>    
    </div>
    </div>
    
</center>
<div id="suggestionsContainer" class="suggestions-container" style="display: none;"></div>
<div id="addOwnerContainer" class="suggestions-container" style="display: none;">
    <div class="suggestion-header">                                
        <button type="button" class="close-btn" onclick="closeOwnerForm()">X</button>
    </div>
    <h3>Add New Owner</h3>
    <hr>
    <div class="m-2">
        <label class="w-25" for="ownercompanyname">Name </label>
        <input class="w-50" id="ownercompanyname" type="text" name="ownercompanyname"> 
    </div>
    <div class="m-2 mb-0 pb-0">
        <label class="w-25" for="owneremailid">Email </label>
        <input class="w-50" type="text" name="owneremailid" id="owneremailid">         
    </div>
    <p class="mt-0 pt-0"><small style="font-size: 15px;font-weight: bold;color: orangered;">*Enter valid email id</small></p>
    
    <div class="m-2">
        <label class="w-25"> Address </label>
        <input class="w-50" type="text" id="owneraddress" name="owneraddress">
    </div>
    <div class="m-2">
        <label class="w-25" for="ownerphone">Phone Number</label>
        <select class="w-25" id="ownercountrycode" name="ownercountrycode" required>
            <option value="+91" selected>India (+91)</option>
            <option value="+1">USA (+1)</option>
            <option value="+44">UK (+44)</option>                        
            <option value="+61">Australia (+61)</option>
            <option value="+81">Japan (+81)</option>                    
        </select>
        <input class="w-25" type="tel" id="ownerphone" name="ownerphone" placeholder="Enter phone number" required/>
    </div> 
    <button type="button" class="btn-custom" onclick="CreateOwner()"> + Add</button>            
</div>
<div id="addCompanyContainer" class="suggestions-container" style="display: none;">
    <div class="suggestion-header">                                
        <button class="close-btn" onclick="closeCompanyForm()">X</button>
    </div>
    <h3>Add New Company</h3>
    <hr>
    <div class="m-2">
        <label class="w-25" for="contractorcompanyname">Name </label>
        <input class="w-50" id="contractorcompanyname" type="text" name="contractorcompanyname"> 
    </div>
    <div class="m-2 mb-0 pb-0">
        <label class="w-25" for="companyemailid">Email </label>
        <input class="w-50" type="text" name="companyemailid" id="companyemailid">         
    </div>
    <p class="mt-0 pt-0"><small style="font-size: 15px;font-weight: bold;color: orangered;">*Enter valid email id</small></p>
    
    <div class="m-2">
        <label class="w-25"> Address </label>
        <input class="w-50" type="text" id="companyaddress" name="companyaddress">
    </div>
    <div class="m-2">
        <label class="w-25" for="companyphone">Phone Number</label>
        <select class="w-25" id="companycountrycode" name="companycountrycode" required>
            <option value="+91" selected>India (+91)</option>
            <option value="+1">USA (+1)</option>
            <option value="+44">UK (+44)</option>                        
            <option value="+61">Australia (+61)</option>
            <option value="+81">Japan (+81)</option>                    
        </select>
        <input class="w-25" type="tel" id="companyphone" name="companyphone" placeholder="Enter phone number" required/>
    </div> 
    <button type="button" class="btn-custom" onclick="CreateCompany()"> + Add</button>
</div>
<div id="addConsultantContainer" class="suggestions-container" style="display: none;">
    <div class="suggestion-header">                                
        <button type="button" class="close-btn" onclick="closeConsultantForm()">X</button>
    </div>
    <h3>Add New Consultant</h3>
    <hr>
    <div class="m-2">
        <label class="w-25" for="consultantcompanyname">Name </label>
        <input class="w-50" id="consultantcompanyname" type="text" name="consultantcompanyname"> 
    </div>
    <div class="m-2 mb-0 pb-0">
        <label class="w-25" for="consultantemailid">Email </label>
        <input class="w-50" type="text" name="consultantemailid" id="consultantemailid">         
    </div>
    <p class="mt-0 pt-0"><small style="font-size: 15px;font-weight: bold;color: orangered;">*Enter valid email id</small></p>
    
    <div class="m-2">
        <label class="w-25"> Address </label>
        <input class="w-50" type="text" id="consultantaddress" name="consultantaddress">
    </div>
    <div class="m-2">
        <label class="w-25" for="consultantphone">Phone Number</label>
        <select class="w-25" id="consultantcountrycode" name="consultantcountrycode" required>
            <option value="+91" selected>India (+91)</option>
            <option value="+1">USA (+1)</option>
            <option value="+44">UK (+44)</option>                        
            <option value="+61">Australia (+61)</option>
            <option value="+81">Japan (+81)</option>                    
        </select>
        <input class="w-25" type="tel" id="consultantphone" name="consultantphone" placeholder="Enter phone number" required/>
    </div> 
    <button type="button" class="btn-custom" onclick="CreateConsultant()"> + Add</button>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }} 

    <script>
        var csrfToken = '{{ csrf_token }}'; 
        var ajaxurl_getowners="{% url 'project:AjaxGetOwners' %}";
        var ajaxurl_getcompanies="{% url 'project:AjaxGetCompanies' %}";
        var ajaxurl_getconsultants="{% url 'project:AjaxGetConsultants' %}";
        var ajax_addconsultant="{% url 'project:AddConsultant' %}";
        var ajax_addowner="{% url 'project:AddOwner' %}";
        var ajax_addcompany="{% url 'project:AddCompany' %}";
        const emailUrl = "{% url 'accounts:EmailExists' %}";
    </script>
    <script src="{% static 'project/js/dashboard.js' %}"></script>     
{% endblock %}
