{% extends 'project/base.html' %}
{% load static %}
{% load custom_filters %}
{% block scriptcontent %}
<script src="{% static 'project/js/current_bill.js' %}"></script>   
      
{% endblock %}
{% block navcontent %}
{% endblock %}
{% block maincontent %}


{% if page_object %}

<div class="card border border-primary p-2 mx-1" style="background-color: rgba(255, 255, 255, 0.253)">
    <div class="inline-items">
        <span class=" bg-secondary border border-primary  text-light p-3 fw-bold">Total Pages : {{page_object.paginator.num_pages}} </span>
        {% if page_object.has_previous %}
            <a href="{% url 'project:ViewAbstract' bill.id page_object.number|add:'-1' %}" class="btn btn-custom m-1 rounded-circle"><i class="fas fa-reply text-primary py-2"></i></a> 
        {% endif %}
        <span class="mx-2 bg-secondary border border-primary  text-light p-3"><b>Current Page : {{page_object.number}}</b></span>
        {% if page_object.has_next %}
            <a href="{% url 'project:ViewAbstract' bill.id page_object.number|add:'1' %}" class="btn btn-custom m-1 rounded-circle"><i class="fas fa-share text-primary py-2"></i></a> 
        {% endif %}
        {% if last_page %}
            <a href="{% url 'project:ViewAbstract' bill.id last_page %}" class="btn btn-custom m-1" >Last Page</a> 
        {% endif %}
        <!-- <span class="ms-5 mx-2 p-3 text-light">  
            <form id="phonesearchfrm" action="{% url 'project:SearchItem' 1 %}" class="bg-secondary border border-primary " method="post">
            {% csrf_token %}
                <div class="input-group inline text-light border-2 border-dark" >                    
                    <input type="search" id="searchitem"  name="searchitem" class="inline fw-bold w-auto bg-secondary text-light border border-0 px-5" placeholder="Enter item to search....">
                    <button type="submit" class="btn bg-light text-primary rounded-circle ms-1 my-2"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </form>
            <small style="font-size: 15px;font-weight: bold;color: orangered;">*Search item by description</small>
           
        </span>  -->  
    </div>
    
    <table class="table bg-light border border-primary p-3 shadow-lg" name="billtable" id="billtable" >
        <thead class="bg-secondary text-light">
            <tr>
                <th scope="col" style="width: 150px;">SL NO</th> 
                <th scope="col">DESCRIPTION</th>
                <th scope="col">BOQ QTY </th>                                         
                <th scope="col">BOQ RATE</th>
                <th scope="col">BOQ UNIT</th>
                <th scope="col">BOQ AMOUNT</th>
                <th scope="col">PREV. QTY </th>                                         
                <th scope="col">PREV. RATE</th>
                <th scope="col">PREV. AMOUNT</th>
                <th scope="col">PRES. QTY </th>                                         
                <th scope="col">PRES. RATE</th>
                <th scope="col">PRES. AMOUNT</th>
                <th scope="col">CUMU. QTY </th>                                         
                <th scope="col">CUMU. RATE</th>
                <th scope="col">CUMU. AMOUNT</th>
                <th scope="col">BAL. QTY </th>                                         
                <th scope="col">BAL. RATE</th>
                <th scope="col">BAL. AMOUNT</th>
            </tr>
        </thead>
        <tbody >
            {% for row in abstract_rows %}                   
                <tr> 
                    {% for colm in row %}
                        <td>{{colm}}</td>                      
                    {% endfor %}                                                                        
                </tr>                
            {% endfor %}            
        </tbody>
    </table>    
    <div class="inline-items">
        <span class="mx-2 bg-secondary border border-primary  text-light p-3 fw-bold">Total Pages : {{page_object.paginator.num_pages}} </span>
        {% if page_object.has_previous %}
            <a href="{% url 'project:ViewAbstract' bill.id  page_object.number|add:'-1' %}" class="btn btn-custom m-1 rounded-circle"><i class="fas fa-reply text-primary py-2"></i></a> 
        {% endif %}
        <span class="mx-2 bg-secondary border border-primary  text-light p-3"><b>Current Page : {{page_object.number}}</b></span>
        {% if page_object.has_next %}
            <a href="{% url 'project:ViewAbstract' bill.id  page_object.number|add:'1' %}" class="btn btn-custom m-1 rounded-circle"><i class="fas fa-share text-primary py-2"></i></a> 
        {% endif %}
        {% if last_page %}
            <a href="{% url 'project:ViewAbstract' bill.id last_page %}" class="btn btn-custom m-1" >Last Page</a> 
        {% endif %}
        <!-- <span class="ms-5 mx-2 p-3 text-light">  
            <form id="phonesearchfrm" action="{% url 'project:SearchItem' 1 %}" class="bg-secondary border border-primary " method="post">
            {% csrf_token %}
                <div class="input-group inline text-light border-2 border-dark" >                    
                    <input type="search" id="searchitem"  name="searchitem" class="inline fw-bold w-auto bg-secondary text-light border border-0 px-5" placeholder="Enter item to search....">
                    <button type="submit" class="btn bg-light text-primary rounded-circle ms-1 my-2"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </form>
            <small style="font-size: 15px;font-weight: bold;color: orangered;">*Search item by description</small>
            
        </span> 
        <span class="ms-5">  
            <small style="font-size: 15px;font-weight: bold;color: orangered;">*Extra items in BoQ will be marked with <i class="fas fa-plus p-2" style="color: rgb(255, 0, 55);font-size:20px;"></i> symbol</small>          
            
        </span>  -->
    </div>
</div>
    
{% endif %}

{% endblock %}
